.container1{
    width: 100%;
    display: flex;   
    padding: 4px; 
    background-color: #eeeeee;
    width: 90%;
    margin-left: 5%;      
}

.post-img{
    height: 88vh;
    width: 35%;
    padding: 0;
    box-shadow: 0px 0px 5px 0px black;
    margin-left: 7%;
}
.post-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.post-information{
    display: flex;
    padding: 5px;
    width: 50%;
    position: relative;   
    flex-direction: column;
}

.likeComment{
    height: 30px;
    width: 100%;  
    padding: 3px;
}
.comments{
   height: 200px;
  
}

.banner{
    height: 30px;
    width: 100%;   
    padding: 3px;
    border-bottom: 1px solid grey;
}
.commentInput{
    height: 40px;
    width: 75%;
    margin-top: 15px;
    border-radius: 10px;
    padding: 3px;
    border: none;
    margin-left: 10px; 
}
.emoojee{
    position: absolute;
    top: 60px;
}
.commentHeading{
  margin-left: 45%;  
}
.emoji-btn:hover{
    cursor: pointer;
}
.comments-list{
    width: 100%;   
    height: 72vh;
    display: flex;
    padding: 2px;
    overflow-y: scroll;
    flex-direction: column;
}
.comment-item{
    padding: 5px;
    
    height: auto;
    width: 98%;    
    display: flex;       
    /* overflow-x: hidden;  */
    font-size: 14px;  
}
.comment-item:hover{
    background-color: lightgrey;
}
.user-name{
    font-size: 12px;   
}
.user-name:hover{
    cursor: pointer;
    text-decoration: underline;
}
.user-comment{    
    min-height: 50px;
    min-width: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 4px;
}
.user-comment{
    cursor: pointer;
}
.post-comment{
    background-color: #3b5998;
    border-radius: 10px;
    padding: 3px;
    color: white;
    margin-left: 10px;
}
.commentedUserImg{
    height:100%;
    width:100%;
    border-radius:50%;
   
}
.comment-span{
  margin-top: 15px;
}